<html lang="en-US"><head>
    <meta charset="utf-8">
    <title>SummyBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/summy_buddy.css">
  </head>
  
  <body>
  <div class="col-4">
  <div class="dropdown">
  <button class="dropbtn">Directory</button>
  <div class="dropdown-content">
  <a href="/home">Home</a>
  <a href="/signup">Sign Up</a>
  <a href="/about">About</a>
  <a href="/pricing">Pricing</a>
  <a href="/features">Features</a>
  </div>
  </div>
  </div>
    <nav class="flex-nav">
        <div class="body">
          <div class="grid">  
            </div>
            <header>
                <h1>
        About Us        </h1>
            </header>
          <div>
            <div class="about_div">
                <form class="about_form">
                  <p> We are a group of four UCSD ECE 140B classmates. UCSD is a public research university located in La Jolla, CA. ECE 140B is a class about product marketing and web design. Our names are Heather, Loki, Kyle, and Luke. We came up with the idea of summarizing and quizzing users on any text files when we realized how long and boring some research papers could be. We are also very interested in Python algorithms and ML/NLP and hope to better our skills.
                  </class>     
                    </div
                </form>
            </div>
            </div>
        </div>
    </div></nav>
    
  
  <img src="ucsd.jpg" alt="logo" class="responsiveimage" width="600" height="400">
  
  </div>
  
  
  </body></html>