<html lang="en-US"><head>
    <meta charset="utf-8">
    <title>SummyBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/summy_buddy.css">
  </head>
  
  <body>
  <div class="col-4">
  <div class="dropdown">
  <button class="dropbtn">Directory</button>
  <div class="dropdown-content">
  <a href="/home">Home</a>
  <a href="/signup">Sign Up</a>
  <a href="/about">About</a>
  <a href="/pricing">Pricing</a>
  <a href="/features">Features</a>
  </div>
  </div>
  </div>
    <nav class="flex-nav">
        <div class="body">
          <div class="grid">  
            </div>
              
            </div>
        </div>
    </div></nav>
    
    <div class="body">
        <header>
            <h1>
    Features        </h1>
        </header>
  <p>
Some of the features include a text summarizing algorithm that will take key words and sentences from the text.  </p>
  <p>
Other features that are being worked on are quizzes to check comprehension and the summary's effectiveness.  </p>
  <p>
However, in order to deliver these features in a timely manner, we need all the support we can get. Consider signing up for our newsletter by clicking on the dropdown menu above!
  </p>  
  </div>
  </body></html>