<html lang="en-US"><head>
  <meta charset="utf-8">
  <title>SummyBuddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/summy_buddy.css">
</head>

<body>
<div class="col-4">
<div class="dropdown">
<button class="dropbtn">Directory</button>
<div class="dropdown-content">
<a href="/home">Home</a>
<a href="/signup">Sign Up</a>
<a href="/about">About</a>
<a href="/pricing">Pricing</a>
<a href="/features">Features</a>
</div>
</div>
</div>
  <nav class="flex-nav">
      <div class="body">
        <div class="grid">
          
            <a id="top" href="/home">SummyBuddy</a>
          </div>
          
            
          </div>
      </div>
  </div></nav>
  
  <div class="body">
<p>
  SummyBuddy is an upcoming and state of the art product that will accurately and efficiently summarize the contents of any body of text. 
</p>
<p>
  With tons of research papers and articles on the internet, most people don't have time to thoroughly peruse such texts. This is why our team of four UCSD ECE 140B students decided to create SummyBuddy to help with this issue.
</p>
<p>
 You can check out the above Directory dropdown menu such as signing up for our newsletter, checking out our planned features, see the pricing, and read more about us!
</p>

<img src="summybuddy.jpg" alt="logo" class="responsiveimage" width="600" height="400">

</div>

</body></html>