<html lang="en-US"><head>
    <meta charset="utf-8">
    <title>SummyBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/summy_buddy.css">
  </head>
  
  <body>
  <div class="col-4">
  <div class="dropdown">
  <button class="dropbtn">Directory</button>
  <div class="dropdown-content">
  <a href="/home">Home</a>
  <a href="/signup">Sign Up</a>
  <a href="/about">About</a>
  <a href="/pricing">Pricing</a>
  <a href="/features">Features</a>
  </div>
  </div>
  </div>
    <nav class="flex-nav">
        <div class="body">
          <div class="grid">
            
              <a id="top" href="/home">SummyBuddy</a>
            </div> 
            </div>
        </div>
    </div></nav>
    
    <div class="body">
        <header>
            <h1>
                Support us: Call to Action
            </h1>
        </header>
      
        <div class="sign_in_div">
            <form class="sign_in_form">
              <p> If you support our idea of summarizing text and quizzing the user on the text contents, consider taking the next step: Sign up for our Newsletter!</p>
                <div class="inputs">
                    <div class="input">
                        <span class="username_span">First name:  <input type="text" class="userInput" id="firstname_text" required></span>
                    </div>
                    <div class="input">
                        <span>Last name:  <input type="text" class="userInput" id="lastname_text" required></span>
                    </div>
                    <div class="input">
                        <span class='email_span'>Email:  <input type="text" class="userInput" id="email_text" required></span>
                    </div>
                    <div class="input">
                        <input type="submit" value="Submit" id="submit" onclick="validation()">
                    </div>
  
  </div>
  </body></html>